<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Liste des cinémas</title>
  </head>

  <body>
    <div layout:fragment="content">
      <!-- Cinema list -->
      <section>
        <article th:each="cinema : ${cinemas}">
          <p
            th:text="${cinema.name + ' - ' + cinema.address + ' ' + cinema.city.zipcode  + ' ' + cinema.city.name}"
          ></p>
          <p th:text="${'Prix du ticket : ' + cinema.seatPrice + '€'}"></p>
          <a
            th:text="Supprimer"
            th:href="@{/admin/cinema/delete(id=${cinema.id})}"
          ></a>
        </article>
      </section>
      <a th:href="@{/admin/cinema/form}"> Ajouter un nouveau cinema </a>
    </div>
  </body>
</html>
