<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Séances</title>
  </head>

  <body>
    <div layout:fragment="content" class="space-y-8">
      <section class="text-center">
        <h2
          class="text-2xl font-semibold text-white"
          th:text="${'Séances du cinéma ' + cinema.name}"
        ></h2>
        <p class="text-cinemaSoft text-sm mt-1">
          Découvrez les films et leurs horaires
        </p>
      </section>

      <!-- movies -->
      <section class="space-y-6">
        <article
          th:each="movie : ${screeningsByMovie}"
          class="bg-cinemaCard border border-white/10 rounded-lg p-5"
        >
          <!-- title -->
          <h2
            class="text-lg font-semibold text-cinemaAccent"
            th:text="${movie.key.title}"
          ></h2>

          <!-- description -->
          <p
            class="text-cinemaSoft text-sm mt-2"
            th:text="${movie.key.description}"
          ></p>

          <!-- screenings -->
          <div class="mt-4">
            <p class="text-xs uppercase tracking-wide text-white/50 mb-2">
              Horaires
            </p>

            <div class="flex flex-wrap gap-2">
              <div
                th:each="screening : ${movie.value}"
                class="flex items-center gap-2 px-3 py-1 rounded-full bg-cinemaBg border border-white/10 hover:border-cinemaAccent transition"
              >
                <!-- horaire -->
                <span
                  class="text-sm text-white/80"
                  th:text="${#temporals.format(screening.date, 'EEEE dd MMM • HH:mm')}"
                >
                </span>

                <!-- Button "réserver" for USER -->
                <a
                  th:if="${session.user != null and session.user.role.name() == 'USER'}"
                  th:href="@{/screening/reserve(id=${screening.id})}"
                  class="ml-2 px-2 py-0.5 text-xs rounded bg-cinemaAccent text-white hover:opacity-90 transition"
                >
                  Réserver
                </a>
              </div>
            </div>
          </div>
          <!-- Message for VISITOR -->
          <p
            th:if="${session.user == null}"
            class="mt-3 text-sm text-grey-400 italic underline"
          >
            Pour effectuer une réservation, vous devez vous connecter !
          </p>
        </article>
      </section>
    </div>
  </body>
</html>
